<header class="header position-fixed">
    <div class="row">
        <div class="col-auto" >
            <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn"  [hidden]="router.url.includes('/login')">
                <i class="bi bi-list"></i>
            </a>
        </div>
        <div class="col text-center">
            <div class="logo-small">
                <img routerLink="home" src="assets/assets/img/logo.png" alt="" />
                <h5><span class="text-secondary fw-light"></span><br /></h5>
            </div>
        </div>
        <div class="col-auto">
            <a [routerLink]="['notifications']"  class="btn btn-light btn-44"  [hidden]="router.url.includes('/login')">
                <i class="bi bi-bell"></i>
                <span class="count-indicator"></span>
            </a>
        </div>
    </div>
</header>
