<header class="header position-fixed">
    <div class="row">
        <div class="col-auto" >
            <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn"  [hidden]="router.url.includes('/login')">
                <i class="bi bi-list"></i>
            </a>
        </div>
        <div class="col text-center">
            <div class="logo-small">
                <img routerLink="home" src="assets/assets/img/logo.png" alt="" />
                <h5><span class="text-secondary fw-light"></span><br /></h5>
            </div>
        </div>
        <div class="col-auto">
            <a [routerLink]="['notifications']"  class="btn btn-light btn-44"  [hidden]="router.url.includes('/login')">
                <i class="bi bi-bell"></i>
                <span class="count-indicator"></span>
            </a>
        </div>
    </div>
</header>
<div class="row mb-3">
    <swiper [config]="config">
        <div class="swiper-wrapper">
        <div class="swiper-slide " (click)="details(1)">
                <a >
                    <div class=" p-1 rounded-circle">
                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                        </div>
                        <figure class="avatar avatar-50 shadow-sm rounded-circle">
                            <img src="assets/assets/img/user4.jpg" alt="">
                    </figure>
                </div>
            </a>
        </div>
       

        <div class="swiper-slide "  (click)="details(2)">
            <a >
                <div class=" p-1 rounded-circle">
                    <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                    </div>
                    <figure class="avatar avatar-50 shadow-sm rounded-circle">
                        <img src="assets/assets/img/user10.jpg" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="swiper-slide "  (click)="details(3)">
            <a >
                <div class=" p-1 rounded-circle">
                    <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                    </div>
                    <figure class="avatar avatar-50 shadow-sm rounded-circle">
                        <img src="assets/assets/img/user40.jpg" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="swiper-slide "  (click)="details(4)">
            <a >
                <div class=" p-1 rounded-circle">
                    <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                    </div>
                    <figure class="avatar avatar-50 shadow-sm rounded-circle">
                        <img src="assets/assets/img/user2.jpg" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="swiper-slide "  (click)="details(5)">
            <a >
                <div class=" p-1 rounded-circle">
                    <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                    </div>
                    <figure class="avatar avatar-50 shadow-sm rounded-circle">
                        <img src="assets/assets/img/user20.jpg" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="swiper-slide "  (click)="details(6)">
            <a >
                <div class=" p-1 rounded-circle">
                    <div class="position-absolute end-0 top-0 bg-warning z-index-1 online-status">
                    </div>
                    <figure class="avatar avatar-50 shadow-sm rounded-circle">
                        <img src="assets/assets/img/user3.jpg" alt="">
                    </figure>
                </div>
            </a>
        </div>	
    </div>

<!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- Add Arrows -->
<!--  <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
</swiper>
</div>    
<div class=" mb-3"[hidden]="!_butler.details" >
    <div class="col-12 col-md-6">
        <div class="card overflow-hidden mb-3">
            <figure class="m-0 p-0 position-absolute top-0 end-0 w-50 h-100 coverimg" style="background-image: url(&quot;assets/assets/img/image2.jpg&quot;);">
                <img src="assets/assets/img/image2.jpg" alt="" style="display: none;">
            </figure>
            <div class="card-body p-0">
                <div class="row mx-0">
                    <div class="col-8 py-3 aftercircle">
                        <div class="row">
                            <div class="col-auto">
                                <a class="card text-center">
                                    <div class="card-body p-1">
                                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                                        </div>
                                        <figure class="avatar avatar-70 shadow-sm rounded-18">
                                            <img src="{{link}}" alt="">
                                        </figure>
                                    </div>
                                </a>
                            </div>
                            <div class="col align-self-center px-0">
                                <p class="text-secondary size-10 mb-0">DR650</p>
                                <p class="mb-2">Susuki</p>
                                <p><b>Luis M.</b></p>
                                <p>
                                    <small class="text-success">4.8
                                        <i class="bi bi-arrow-up"></i>
                                    </small>
                                <cite></cite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 