
<!-- loader section -->
<!-- Begin page -->
<main class="h-100">

    <!-- Header -->
    <!-- <app-header> </app-header> -->
    <!-- Header ends -->
  
    <!-- main page content -->
    <div class="main-container container">
<!-- loader section ends -->
        <app-header></app-header>
        <!-- Sidebar main menu -->
        <app-left-sidebar></app-left-sidebar>


        <app-filter></app-filter>
        <!-- Footer ends-->
        <router-outlet></router-outlet>

        <!-- ###################################333
           Menu Modal -->
  <div class="modal fade" id="menumodal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-body">
                <div class="">

                    <div class="">
                        <div class="row">
                            <div class="col align-self-center">
                                <h6 class="mb-0">Criterios de búsqueda</h6>
                                <p class="text-secondary small">254 Bikers en Mérida</p>
                            </div>
                            <div class="col-auto px-0">
                                <button class="btn btn-link text-danger filter-close">
                                    <i class="bi bi-x size-22"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="">
                     
                     
              
                       
                       
              
                        
              
                        <div class="form-group floating-form-group active mb-4">
                            <h6 class="mb-3">Género del biker</h6>
              
                            <div class="form-check form-switch mb-2">
                                <input type="checkbox" class="form-check-input" id="men" checked="">
                                <label class="form-check-label" for="men">Hombre</label>
                            </div>
                            <div class="form-check form-switch mb-2">
                                <input type="checkbox" class="form-check-input" id="woman" checked="">
                                <label class="form-check-label" for="woman">Mujer</label>
                            </div>
                            
                        </div>
                        <div class="form-group floating-form-group active mb-4">
                            <h6 class="mb-3">Tipo de motocicleta</h6>
              
                           
                            <div class="form-check form-switch mb-2">
                                <input type="checkbox" class="form-check-input" id="Sport" checked>
                                <label class="form-check-label" for="Sport">Scuter</label>
                            </div>
                            <div class="form-check form-switch mb-2">
                                <input type="checkbox" class="form-check-input" id="homedecor">
                                <label class="form-check-label" for="homedecor">Enduro</label>
                            </div>
                            <div class="form-check form-switch mb-2">
                                <input type="checkbox" class="form-check-input" id="kidsplay">
                                <label class="form-check-label" for="kidsplay">Shopper</label>
                            </div>
                        </div>
                        <div class="col-12 text-center mb-3">
                            <button class="btn btn-sm btn-warning">
                                <i class="bi bi-diamond"></i> Standar
                            </button>
                            <button class="btn btn-sm btn-outline-warning me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-heart"></i> TU PRESUPUESTO
                            </button>
                          
                        </div>
                        <div class="col-12 collapse " id="collapseExample" style="">
                            <div class="form-floating mb-3">
                               <input type="number" class="form-control" min="1" max="100" value="2" step="1" id="input-number">
                                   
                                <label for="input-select">Presupuesto ($ USD)</label>
                            </div>
                        </div>
                        
              
                    </div>
                    <div class="">
                        <button class="btn btn-lg btn-warning w-100 shadow-sm shadow-warning">Aplicar</button>
                    </div>
                </div>
              <!--   <h1 class="mb-4"><span class="text-secondary fw-light">Quick</span><br />Actions!</h1>
                <div class="text-center">
                    <img src="assets/assets/img/QRCode.png" alt="" class="mb-2" />
                    <p class="small text-secondary mb-4">Ask to scan this QR-Code<br />to accept money</p>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-auto text-center">
                        <a href="bills.html" class="avatar avatar-70 p-1 shadow-sm shadow-danger rounded-20 bg-opac mb-2"  data-bs-dismiss="modal">
                            <div class="icons text-danger">
                                <i class="bi bi-receipt-cutoff size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Pay Bill</p>
                    </div>
  
                    <div class="col-auto text-center">
                        <a href="sendmoney.html" class="avatar avatar-70 p-1 shadow-sm shadow-purple rounded-20 bg-opac mb-2"  data-bs-dismiss="modal">
                            <div class="icons text-purple">
                                <i class="bi bi-arrow-up-right size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Send Money</p>
                    </div>
  
                    <div class="col-auto text-center">
                        <a href="receivemoney.html" class="avatar avatar-70 p-1 shadow-sm shadow-success rounded-20 bg-opac mb-2"  data-bs-dismiss="modal">
                            <div class="icons text-success">
                                <i class="bi bi-arrow-down-left size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Receive Money</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-auto text-center">
                        <a href="withdraw.html" class="avatar avatar-70 p-1 shadow-sm shadow-secondary rounded-20 bg-opac mb-2"  data-bs-dismiss="modal">
                            <div class="icons text-secondary">
                                <i class="bi bi-bank size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Withdraw</p>
                    </div>
  
                    <div class="col-auto text-center">
                        <a href="addmoney.html" class="avatar avatar-70 p-1 shadow-sm shadow-warning rounded-20 bg-opac mb-2"  data-bs-dismiss="modal">
                            <div class="icons text-warning">
                                <i class="bi bi-wallet2 size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Add Money</p>
                    </div>
  
                    <div class="col-auto text-center">
                        <div class="avatar avatar-70 p-1 shadow-sm shadow-info rounded-20 bg-opac mb-2"  data-bs-dismiss="modal">
                            <div class="icons text-info">
                                <i class="bi bi-tv size-24"></i>
                            </div>
                        </div>
                        <p class="size-10 text-secondary">Recharge</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
  </div>
        <!-- ###################################333 -->



    </div>
</main>
