<!-- location map-->
<div class="row mb-2">
	<div class="col">
		<h6 class="title"> 63 Bikers</h6>
	</div>
	<div class="col-auto">
		<a href="userlist.html" class="small">Ver más</a>
	</div>
</div>
<div class="row mb-3">
 <swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
		<a href="profile.html" class="card text-center">
			<div class="card-body p-1">
				<div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
				</div>
				<figure class="avatar avatar-80 shadow-sm rounded-18">
					<img src="assets/assets/img/user4.jpg" alt="">
				</figure>
			</div>
		</a>
	</div>
    <div class="swiper-slide">
		 <a href="profile.html" class="card text-center">
			<div class="card-body p-1">
				<div class="position-absolute end-0 top-0 bg-danger z-index-1 online-status">
				</div>
				<figure class="avatar avatar-80 shadow-sm rounded-20">
					<img src="assets/assets/img/user2.jpg" alt="">
				</figure>
			</div>
		</a>
	</div>
    <div class="swiper-slide">
		 <a href="profile.html" class="card text-center">
			<div class="card-body p-1">
				<div class="position-absolute end-0 top-0 bg-warning z-index-1 online-status">
				</div>
				<figure class="avatar avatar-80 shadow-sm rounded-20">
					<img src="assets/assets/img/user3.jpg" alt="">
				</figure>
			</div>
		</a>
	</div>
	<div class="swiper-slide">
		<a href="profile.html" class="card text-center">
			<div class="card-body p-1">
				<div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
				</div>
				<figure class="avatar avatar-80 shadow-sm rounded-18">
					<img src="assets/assets/img/user4.jpg" alt="">
				</figure>
			</div>
		</a>
	</div>
	 <div class="swiper-slide">
		 <a href="profile.html" class="card text-center">
			<div class="card-body p-1">
				<div class="position-absolute end-0 top-0 bg-danger z-index-1 online-status">
				</div>
				<figure class="avatar avatar-80 shadow-sm rounded-20">
					<img src="assets/assets/img/user2.jpg" alt="">
				</figure>
			</div>
		</a>
	</div>
	 <div class="swiper-slide">
		 <a href="profile.html" class="card text-center">
			<div class="card-body p-1">
				<div class="position-absolute end-0 top-0 bg-danger z-index-1 online-status">
				</div>
				<figure class="avatar avatar-80 shadow-sm rounded-20">
					<img src="assets/assets/img/user1.jpg" alt="">
				</figure>
			</div>
		</a>
	</div>	
</div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>

  <!-- Add Arrows -->
 <!--  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
</swiper>
        </div>    
        <div class="row mb-4">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <figure class="w-100">
                            <img src="assets/assets/img/map@2x.png" class="mw-100" alt="">
                        </figure>
                  
                    </div>
                </div>
            </div>
        </div>
  

    <!-- main page content ends -->
  
    <div class="modal fade " id="attachefiles" tabindex="-1" aria-hidden="true" style="top:-100px;">
        <div class="modal-dialog modal-sm modal-dialog-ends ">
            <div class="modal-content  border-0" >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <div class="">
                                <div class="row mb-4">
                                    <div class="col align-self-center">
                                        <h6 class="mb-0">Indícanos tu ruta</h6>
                                        <!-- <p class="text-secondary small">254 Bikers en Mérida</p> -->
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center mb-3 gx-3">
                                <div class="row">
                                    <div class="col position-relative align-self-center">
                                        <div class="form-group form-floating mb-3 is-valid">
                                            <input type="text" class="form-control">
                                            <label class="form-control-label" for="email">Origen</label>
                                        </div>
                                    </div>
                             
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center gx-3">
                                <div class="row">
                                    <div class="col position-relative align-self-center">
                                        <div class="form-group form-floating mb-3 is-valid">
                                            <input type="text" class="form-control" value="" >
                                            <label class="form-control-label" for="email">Destino</label>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="">
                                <button class="btn btn-lg btn-warning w-100 shadow-sm shadow-warning">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




  <!-- Page ends-->
  <div class="position-fixed bottom-0 start-0 chat-post">
    <div class="row gx-3">
       <!--  <div class="col-auto">
            <button class="btn btn-outline-warning btn-44 avatar p-0" type="button" data-bs-toggle="modal" data-bs-target="#attachefiles">
                <i class="bi bi-geo-alt"></i>
            </button>
        </div> -->
        <div class="col">
            <div class="input-group">
                 <input type="text" class="form-control " placeholder="A donde deseas ir?" data-bs-toggle="modal" data-bs-target="#attachefiles"> 
             <!--   <button class="btn btn-44 btn-outline-warning filter-btn" type="button"><i class="bi bi-filter size-22"></i></button> -->
                
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-warning btn-44 avatar p-0" type="button" data-bs-toggle="modal" data-bs-target="#menumodal">
                <i class="bi bi-filter"></i>
            </button>
            
           
        </div>
    </div>
  </div>
